<a href="https://colab.research.google.com/github/34996178/ejercicios_python_sec/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ejercicio en clase

In [4]:
docena = float(input("ingrese las docenas adquiridad"))
precio = float(input("ingrese el precio por docena"))
subtotal = docena * precio
if docena >= 10:
  descuento = subtotal * 0.15
else :
  descuento = subtotal * 0.11

print("subtotal:$" , subtotal)
print("descuento:$" , descuento)
print("total:$" , subtotal-descuento)

ingrese las docenas adquiridad 5
ingrese el precio por docena 5000
subtotal:$ 25000.0
descuento:$ 2750.0
total:$ 22250.0

EJEMPLO EN CLASE

In [36]:
horas = float(input("ingrese el numero de horas: "))
categoria =input("ingrese la categoria: ")
hijos = int(input("ingrese el numero de hijos: "))


if categoria == "A":
 tarifahoraria = 45
if categoria == "B":
 tarifahoraria = 37.5

sueldobasico = horas * tarifahoraria


if hijos <= 3:
  bonificacion = 40.5 * hijos
if hijos > 3:
  bonificacion = 35 * hijos
  sueldobruto = sueldobasico + bonificacion

if sueldobruto >= 3500:
  descuento= sueldobruto * 0.135
if sueldobruto < 3500:
  descuento= sueldobruto * 0.10

print ("sueldobasico:$" , sueldobasico)
print ("sueldobruto:$" , sueldobasico + bonificacion)
print ("descuento:$" , descuento)
print ("sueldoneto:$" , sueldobruto-descuento)

ingrese el numero de horas: 8
ingrese la categoria: A
ingrese el numero de hijos: 5
sueldobasico:$ 360.0
sueldobruto:$ 535.0
descuento:$ 53.5
sueldoneto:$ 481.5